@import '../../constants.scss';

.new-appointment-page {

  h2 {
    &.h6 {
      margin-left: 20px;
      font-size: 5vw;
      color: $bold-text-color;
    }
  }

  .appointment-form {
    .section-button-list {
      overflow: auto;
      white-space: nowrap;
      padding-bottom: 10px;
    }
    .book-section {
      margin: $gutter-size--large * 4;
      border-top: $border-standard;
      text-align: center;
      padding-top: 20px;
      
      .book-appointment-button {
        box-sizing: border-box;
        width: 100%;
        background-color: #2abbba;
        color: #fff;
        height: 50px;
        line-height: 50px;
        display: inline-block;
        text-align: center;
        border-radius: 10px;
  
        &:hover {
          cursor: pointer;
        }
      }
    }
  }

}
