@import '../../constants.scss';

.user-info {
  margin: $gutter-size--large * 2;
  border-bottom: $border-standard;
  position: relative;
  color: $bold-text-color;
  padding-bottom: 12px;

  .avatar {
    display: inline-block;
    width: 10vw;
    max-width: 100px;
    min-width: 60px;
  }

  .name {
    display: inline-block;
    font-size: 1.5em;
    position: absolute;
    top: 50%;
    margin-left: 76px;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%); 
    transform: translate(-50%, -50%);

    .first-name,
    .last-name {
      display: inline-block;
    }

    .first-name {
      margin-right: 10px;
    }
  }
}